<div id="carousel-section" class="carousel slide shadow-sm" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel-section" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel-section" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel-section" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <picture>
                <source type="image/svg+xml" media="(min-width:720px)" srcset="~/image/resized_1.jpg">
                <img src="~/image/full_image_1.jpg" class="img-fluid" alt="...">
            </picture>
        </div>
        <div class="carousel-item">
            <picture>
                <source type="image/svg+xml" media="(min-width:720px)" srcset="~/image/resized_2.jpg">
                <img src="~/image/full_image_2.jpg" class="img-fluid" alt="...">
            </picture>
        </div>
        <div class="carousel-item">
            <picture>
                <source type="image/svg+xml" media="(min-width:720px)" srcset="~/image/resized_3.jpg">
                <img src="~/image/full_image_3.jpg" class="img-fluid" alt="...">
            </picture>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-section" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel-section" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
