@page
@model OnlineShop.Areas.Identity.Pages.Account.LoginModel

@{
    ViewData["Title"] = "登入";
}

<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
				<div class="card shadow-lg">
					<div class="card-body p-5">
                        <form id="account" method="post">
                            <h1 class="fs-2 card-title fw-bold mb-4">登入</h1>
                            <div asp-validation-summary="ModelOnly" class="invalid-feedback"></div>
                            <div class="mb-3">
                                <label asp-for="Input.Email" class="mb-2 text-muted"></label>
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Input.Password" class="mb-2 text-muted"></label>
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="checkbox form-check mb-3">
                                <label asp-for="Input.RememberMe" class="form-check-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                            <div class="mb-3">
                                <button id="login-submit" type="submit" class="btn btn-primary w-100">登入</button>
                            </div>
                        </form>
					</div>
					<div class="card-footer py-3 border-0">
						<div class="text-center">
							<p><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">註冊新會員</a></p>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
