@{
    ViewData["Title"] = "購物須知";
}

<div>
    <section>
        <h3>❶ 購買步驟</h3>
        <p>登入會員 ➜ 將想要的商品加入購物車 ➜ 按右上角的購物車圖示進入訂單畫面 ➜ 確認你購買的商品名稱/款式/數量 ➜ 選擇送貨方式 ➜ 確認訂單資訊裡(含運費)的總金額 ➜ 按下前往結賬的按鈕 ➜ 填寫收件資料 ➜ 按下提交訂單按鈕 ➜ 訂單建立成功 ➜ 會在24小時內收到一封訂單確認信件寄至信箱 ➜ 請按照信件裡的付款資訊完成付款 ➜ 填寫google表單回報已付款</p>
    </section>
    <br />
    <section>
        <h3>❷ 訂購流程</h3>
        <ul>
            <li>註冊會員：因會員帳號是以信箱去建立，後續繳費資訊和修改訂單內容都必須透過信箱聯絡，所以請各位在購買前先註冊會員。</li>
            <li>訂單成立：商品加入購物車不表示保留庫存，需進行結帳程序，完成至訂單建立成功，才算保留庫存，另外也會收到訂單確認的email通知信。</li>
            <li>現貨商品：完成付款後，約3 ~ 5日出貨(假日不出貨)。</li>
            <li>接單訂製商品：通常是手刻印章，因只有我一個人在製作，以付款完成的順序做訂單製作的順序，並且製作時間以商品頁上的需等待之工作日為基準，不同款式的接單訂製手刻印章會有不同的等待製作時間。</li>
            <li>若同時購買現貨商品＋接單訂製商品，以最長製作時間的商品為出貨基準。</li>
        </ul>
        <p><u>★ ★ 若因為我自己身體狀況無法負荷，導致製作手刻印章的時間超過原本預期的出貨時間，會事先寫信告知情況延後出貨時間，因此要購買接單訂製的手刻印章，需要先考量到是否可以等待，非常感謝你們的體諒。</u></p>
        <ul>
            <li>取消訂單：僅接受因為系統關係，重複下訂單的狀況才能取消訂單。請務必確認過購買的商品與收件資料都正確無誤，才進行結帳動作，若因資料錯誤導致延誤由買家自行承擔。</li>
            <li>完成訂單：官網訂單建立成功後，會在24小時內收到訂單確認信件，若email信件沒有收到，可以看看垃圾信件匣有沒有，若都沒有，請到IG粉絲團私訊我確認。</li>
            <li>若訂單有任何問題，皆以email信件聯繫，若沒有收到訊息回應，將默認最終訊息告知之處理方式，請不要下單後就消失不見唷！</li>
        </ul>
    </section>
    <br />
    <section>
        <h3>❸ 付款流程</h3>
        <ul>
            <li>付款方式：提供①銀行帳戶轉帳/匯款/無摺② Linepay支付③綠界科技—第三方線上信用卡支付。繳款的資料會在訂單成立以後，寄email到信箱。</li>
            <li>付款期限：請在收到確認信後的三天內完成繳費，並且填寫google表單回報已付款。</li>
            <li>付款期間內，未完成付款的訂單，會自動取消訂單，並將庫存釋出給其他人購買。</li>
            <li>付款期間內，已付款，但沒有填寫google表單回報，也會自動取消訂單。請體諒所有作業都由我一個人處理，無法一個一個的寫信詢問是否有填寫回報信件，所以皆以有付款＋填寫回報單，成為完成訂單的確認。</li>
            <li>若因為有難處需要延遲付款期限，請先寫email給我提出要求。</li>
            <li>因爲是人工查詢付款狀態，確認已收到款項，會回信告知，並且官網訂單查詢裡，也會將狀態更改為已付款。</li>
        </ul>
    </section>
    <br />
    <section>
        <h3>❹ 送貨流程</h3>
        <ul>
            <li>國內送貨方式：①郵局掛號( 可i郵箱寄送 / 存局候領 ) ②超商取貨不付款( 7-11 / 全家 ) ，不論包裹大小，運費皆是60元。</li>
            <li>國外送貨方式：皆以順豐速運，貨到付款的方式寄送，郵資以實際包裹重量計費。</li>
            <li>任何稅金由買家自行承擔，恕無法接受因為稅金過高為退費理由。</li>
            <li>不管是選擇郵寄 / 超商 / 順豐速運，請將收件資料填寫完整，包含郵遞區號 / 店號，若因為地址填寫不完整造成延誤寄出，由買家自行承擔。</li>
            <li>若需要臨時更換地址或是寄送方式，請先寫email給我提出要求。</li>
            <li>若因個人因素導致退件，請支付退回費用和第二次寄送的運費，收到款項後才會再寄出。</li>
            <li>超商寄送請填寫真實姓名，因領取包裹需要出示身分證件給店員檢查，若因為收件資料填寫有誤造成包裹退回，由買家自行承擔。</li>
            <li>不管是郵寄的包裹還是超商寄送的包裹，如果超過3次未領取而造成退回，不僅要請買家承擔損失的運費，並且帳號會納入黑名單，請愛惜自身購物之權利。</li>
            <li>任何包裹寄送有一定程度的風險存在，請恕本店無法承擔包裹延遲,毀損,遺失等因物流造成的損失。</li>
            <li>收到包裹，請檢查包裹完整性＋錄影開箱，若有任何問題請在7個工作日內向我聯繫。</li>
            <li>寄出商品後，會將官網訂單查詢的狀態更改為已送貨，請注意包裹領取的期限，若需要包裹的物流號碼，請寫email向我索取。</li>
        </ul>
    </section>
    <br />
    <section>
        <h3>❺ 退換貨</h3>
        <ul>
            <li>一般商品，若非是商品款式寄錯/瑕疵，一率不退換貨，請在下單前確認好商品購買選項。</li>
            <li>收到寄錯的商品，請在收到包裹後的7個工作天裡，寫email向我提出，並且寄回寄錯的商品，逾期不受理，並且所有因為退換貨的費用皆由我負擔。</li>
            <li>收到瑕疵的商品，請在收到包裹後的7個工作天裡，寫email向我提出，並且寄回瑕疵的商品，逾期不受理，瑕疵品換貨必須是同品項款式。</li>
            <li>手刻印章 / 手作商品，無法避免製作痕跡，不適用退換貨準則，請介意者請勿下單。</li>
        </ul>
    </section>
    <br />
    <section>
        <ol style="list-style-type: '⟣ '">
            <li>本商店保留更改活動與贈品贈送之權利。</li>
            <li>本商店會視需要及實際情形，增減、變更或終止相關服務之項目或內容。</li>
            <li>本網站上所有商品的文字、圖像等之著作權，均由Dreaming琉璃屋 / 琉璃屋插畫工作室依法持有智慧財產權，不得以任何方式轉載．修改．販售等一切商業行為。</li>
        </ol>
    </section>
</div>
