@{
    ViewData["Title"] = "購物須知";
}

<div id="announcement" class="announcement">
    <br>
    <div class="announcement-title">
        <div class="announcement-title-text">設計館公告</div>
    </div>
    <div id="announcement-body" class="announcement-body">
        <br>
        【購物須知】
        <br>
        ✦ ✦ 本設計館裡的印章商品分為手工雕刻印章 和 機器製造印章 (商品頁裡有標示) ✦ ✦
        <br>
        ✦ ✦ 手工雕刻印章大部分都是 "接到訂單後才開始製作"，若是有現貨，商品頁標題會標示 ✦ ✦
        <br>
        ✦ ✦ 商品頁標示 " | 展示作品 | "，代表此作品不會再製作販售，純粹展示給大家觀賞 ✦ ✦
        <br>
        ✦ ✦ 設計館偶爾會有小活動 : " 當月限定商品 "、" 限定滿額贈品 "、" 限定早鳥贈品 "，歡迎大家多多捧場 ✦ ✦
        <br>-<br>
        【付款須知】
        <br>
        訂單請於下單後三日內(含假日)完成付款，
        <br>
        付款後，從備貨到寄出商品依照每樣商品準備的時間不同會有不同的工作天(不包含假日)，
        <br>
        訂單於第五日還未付款，會簡訊通知，第七日會取消訂單，並使用黑名單機制，
        <br>
        若有任何付款的問題請在下訂前先來信與設計師討論。
        <br>-<br>
        本設計館大多是手刻印章商品，準備耗時耗力，
        <br>請完成訂單時務必準時完成付款，避免影響設計師權利。
        <br>-<br>
        💙FB : chinkingdreaming
        <br>
        💜IG : chinking3334
        <br>
        喜歡我的朋友歡迎追蹤我的粉絲團與IG
    </div>
</div>
