@model IEnumerable<OnlineShop.Core.Models.Category>

@{
    ViewData["Title"] = "管理類別";
}

<table class="table rounded">
    <thead>
        <tr>
            <th scope="col">類別名稱</th>
            <th scope="col">
                <div class="row justify-content-end">
                    <a class="btn btn-sm btn-primary col-8 col-md-4" asp-action="Create">新增類別</a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <div class="row justify-content-end gap-2">
                        <a class="btn btn-sm btn-info col-4 col-md-2" asp-action="Edit" asp-route-id="@item.Id">編輯</a>
                        <a class="btn btn-sm btn-danger col-4 col-md-2" asp-action="Delete" asp-route-id="@item.Id">刪除</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>