@using Microsoft.AspNetCore.Identity
@inject SignInManager<OnlineShopUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* 導入fontawesome *@
    <link rel="stylesheet" href="~/css/fontawesome-free-5.15.4-web/css/all.css" />
    <link rel="stylesheet" href="~/OnlineShop.styles.css" asp-append-version="true" />
    @* 前台樣式 加入購物車 *@
    <link href="~/lib/toastr/2.1.4/toastr.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/image/logo2.jpg" class="logo" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @* <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">公告</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">店鋪資訊</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">線上商店</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">我的訂單</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="QueryOrder">訂單查詢</a>
                            </li>
                        }

                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            @*  商品管理 Start *@
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">商品管理</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    <a class="dropdown-item" asp-area="" asp-controller="ProductManagement" asp-action="Index">管理商品列表</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="ProductManagement" asp-action="CreateCategory">新增分類</a>
                                </div>
                            </li>
                            @* 商品管理 End *@

                            @*  訂單管理 Start *@
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="OrderList">訂單列表</a>
                            </li>
                            @*  訂單管理 End *@

                            @*  帳號管理 Start *@
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">帳戶權限管理</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="UserList">帳戶管理</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="RoleList">角色管理</a>
                                </div>
                            </li>
                            @* 帳號管理 End *@
                        }

                        <@* li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li> *@
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
                <form class="d-flex justify-content-end pl-3">
                    <button class="btn btn-outline-dark" type="submit" asp-area="" asp-controller="Cart" asp-action="Index">
                        <i class="fas fa-shopping-cart"></i>
                        購物車
                        <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                    </button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - OnlineShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* 前台樣式 加入購物車 *@
    <script src="~/lib/toastr/2.1.4/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* 前台 文字編輯器 樣式 *@
    <script src="~/lib/ckeditor5/build/ckeditor.js"></script>
    @* 外部引用 *@
    @* <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> *@
    <script src="~/lib/chart/3.5.1/chart.min.js"></script>
    <script src="~/lib/popper/1.12.9/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    @* section script 注入的地方 *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
