@using Microsoft.AspNetCore.Identity
@inject SignInManager<OnlineShopUser> SignInManager
@inject UserManager<OnlineShopUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* 導入fontawesome *@
    <link rel="stylesheet" href="~/css/fontawesome-free-5.15.4-web/css/all.css" />
    <link rel="stylesheet" href="~/OnlineShop.styles.css" asp-append-version="true" />
    @* 前台樣式 加入購物車 *@
    <link href="~/lib/toastr/2.1.4/toastr.min.css" rel="stylesheet" />
</head>
<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg border-bottom box-shadow mb-3 bg-white">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Products" asp-action="Index">
                    <img src="~/image/logo2.svg" class="logo" width="120" height="80" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" 
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-column-reverse" id="navbarSupportedContent">
                    <ul class="navbar-nav align-self-start">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">線上商店</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">我的訂單</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="QueryOrder">訂單查詢</a>
                            </li>
                        }
                        
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            @*  商品管理 Start *@
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ProductManagement" asp-action="Index">管理商品列表</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="productMenuBtn" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    商品管理
                                </a>
                                <div class="dropdown-menu" aria-labelledby="productMenuBtn">
                                    <a class="dropdown-item" asp-area="" asp-controller="ProductManagement" asp-action="CreateCategory">新增分類</a>
                                </div>
                            </li>
                            @* 商品管理 End *@

                            @*  帳號管理 Start *@
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="accountMenuBtn" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    帳戶管理
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="accountMenuBtn">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="UserList">帳戶列表</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="RoleList">角色列表</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="CreateRole">角色新增</a></li>
                                </ul>
                            </li>
                            @* 帳號管理 End *@
                        }
                    </ul>
                    <ul class="navbar-nav align-self-end">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                            </li>
                            <li class="nav-item">
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">
                                    <button id="logout" type="submit" class="btn btn-outline-dark mx-2">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">註冊帳號</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark mx-2" id="login" asp-area="Identity" asp-page="/Account/Login">登入</a>
                            </li>
                        }
                        <li class="nav-item">
                            <form class="d-flex pl-3">
                                <button class="btn btn-outline-dark" type="submit" asp-area="" asp-controller="Cart" asp-action="Index">
                                    <i class="fas fa-shopping-cart"></i>
                                    購物車
                                    <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="padding-top: 15vh;">
        <main role="main" class="pb-3 mx-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - OnlineShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* 前台樣式 加入購物車 *@
    <script src="~/lib/toastr/2.1.4/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* 前台 文字編輯器 樣式 *@
    <script src="~/lib/ckeditor5/build/ckeditor.js"></script>
    @* 外部引用 *@
    <script src="~/lib/chart/3.5.1/chart.min.js"></script>
    <script src="~/lib/popper/1.12.9/popper.min.js"></script>
    @* section script 注入的地方 *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
