@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1>管理你的帳號</h1>
<hr />
<div class="row">
    <div class="col-md-3 border-end">
        <partial name="_ManageNav" />
    </div>
    <div class="col-md-9 mt-5 mt-md-0">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
