@{
    ViewData["Title"] = "訂單錯誤頁面";
}
<div><span>@Html.Raw(ViewBag.ErrorMsg)</span></div>

<a class="btn btn-primary btn-sm text-white" asp-controller="Cart" asp-action="Index">返回購物車</a>

@section Scripts {

}