@model IEnumerable<OnlineShop.Core.ViewModel.OrderViewModel>

@{
    ViewData["Title"] = "我的訂單";
}

<h3>@ViewData["Title"]</h3>
<hr />
@foreach (var item in Model)
{
    <table class="table table-mobile-responsive table-mobile-sided border shadow-sm rounded p-2">
        <thead class="">
            <tr>
                <th scope="col">訂單編號：#@Html.DisplayFor(modelItem => item.Order.Id)</th>
                <th scope="col">訂單日期：@Html.DisplayFor(modelItem => item.Order.OrderDate)</th>
                <th scope="col">金額</th>
                <th scope="col">付款狀態</th>
                <th scope="col">配送狀態</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" colspan="2" class="d-block d-md-table-cell" data-content="訂單編號：#@Html.DisplayFor(modelItem => item.Order.Id)">
                    @foreach (var citem in item.CartItems)
                    {
                        <p class="text-end text-md-start">@Html.DisplayFor(cartItem => citem.Product.Name)</p>
                    }
                </td>
                <td data-content="金額">
                    <p class="text-danger">NT$@Html.DisplayFor(modelItem => item.Order.Total)</p>
                </td>
                <td data-content="付款狀態">
                    @if (item.Order.isPaid)
                    {
                        <p>已付款</p>
                    }
                    else
                    {
                        <p>未付款</p>
                    }
                </td>
                <td data-content="配送狀態">
                    @if (item.Order.isShip)
                    {
                        <p>已出貨</p>
                    }
                    else
                    {
                        <p>未出貨</p>
                    }
                </td>
                <td class="mt-2 mt-md-0 ps-0">
                    <a class="btn btn-sm btn-outline-secondary w-100" asp-action="Details" asp-route-id="@item.Order.Id">訂單詳細資訊</a>
                </td>
            </tr>
        </tbody>
    </table>
}