@{
    ViewData["Title"] = "QueryOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>訂單查詢</h1>

<h4>訂單編號查詢</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="QueryOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">請輸入訂單編號</label>
                <input name="OrderId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="查詢" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Product" >返回上一頁</a>
</div>