@model OnlineShop.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* 商品名稱 *@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            @* 簡介 *@
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
            @* 內容 *@
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
            </div>
            @* 單價 *@
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
            </div>
            @* 庫存 *@
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
            </div>
            @* 圖片 *@
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Image" class="control-label"></label>
                            <input type="file" name="myimg" id="myimg" class="form-control-file">
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img id="preview" style="max-height:200px;" />
                    </div>
                </div>
            </div>
            @* 類別 *@
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select class="form-control" asp-for="CategoryId" asp-items="ViewBag.Categories"></select>
            </div>
            @* 款式 *@
            <div class="form-group">
                <label class="control-label"></label>
                <select class="form-control" asp-items="ViewBag.ProductStyles" name="productStyleId" id="productStyleId">
                    @foreach (var item in ViewBag.ProductStyles)
                    {
                        <option>@item</option>
                    }
                </select>
                <input type="text" id="newProductStyleOption" />
                <button type="button" id="addProductStyleOptionButton">添加選項</button>
            </div>
            @* 送出 *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        // 圖片使用
        $('#myimg').on('change', function (e) {
            const file = this.files[0];
            const objectURL = URL.createObjectURL(file);    // 使用 createObjectURL 產生圖片url
            $('#preview').attr('src', objectURL);
        });

        /**
         * 增加 款式 選項
         */
        function addOption() {
            var select = document.getElementById("productStyleId");
            var newOption = document.createElement("option");
            newOption.text = document.getElementById("newProductStyleOption").value;
            select.add(newOption);
        }
        document.getElementById("addProductStyleOptionButton").onclick = addOption;
        /**
         * 改寫 submit事件
         */
        document.querySelector("form").addEventListener("submit", function (event) {
            var select = document.getElementById("productStyleId");
            var selectedOptions = Array.from(select.selectedOptions).map(option => option.value);
            selectedOptions.forEach(value => {
                var input = document.createElement("input");
                input.type = "hidden";
                input.name = "productStyles";
                input.value = value;
                this.appendChild(input);
            });
        });
    </script>
}


