@model OnlineShop.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* 送出 *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            @* 商品名稱 *@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            @* 簡介 *@
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" style="height:150px"></textarea>
                <span asp-validation-for="Description" class="text-danger" id="editor01"></span>
            </div>
            @* 單價 *@
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
            </div>
            @* 庫存 *@
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
            </div>
            @* 圖片 *@
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Image" class="control-label"></label>
                            <input type="file" name="myimg" id="myimg" class="form-control-file">
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img id="preview" style="max-height:200px;" />
                    </div>
                </div>
            </div>
            @* 類別 *@
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select class="form-control" asp-for="CategoryId" asp-items="ViewBag.Categories"></select>
            </div>
            @* 款式 *@
            <div class="form-group">
                <label>款式</label>
                <table id="prodectStyleTable">
                    <tr>
                        <th>款式名稱</th>
                        <th>功能按鈕</th>
                    </tr>
                </table>
                <button type="button" onclick="addRow()">增加款式</button>
            </div>

            @* 內容 *@
            <div class="form-group">
                <label asp-for="Content" class="control-label">商品描述</label>
                <textarea asp-for="Content" class="form-control" id="editor"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        /**
         * 加入 CKEditor 使用
         */
        ClassicEditor
            .create(document.querySelector('#editor'), {
                toolbar: ['Heading', '|', 'bold', 'italic', 'link', 'numberedList', 'bulletedList', '|', 'Alignment', 'Outdent', 'Indent', '|', 'BlockQuote', 'InsertTable', 'undo', 'redo']
            })
            .catch(error => {
                console.error(error);
            });

        // 圖片使用
        $('#myimg').on('change', function (e) {
            const file = this.files[0];
            const objectURL = URL.createObjectURL(file);    // 使用 createObjectURL 產生圖片url
            $('#preview').attr('src', objectURL);
        });

        /**
          * 增加 款式 選項
         */
        function addRow() {
            var table = document.getElementById("prodectStyleTable");
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            cell1.innerHTML = '<input type="text" name="ProductStyles[' + (table.rows.length - 2) + '].Name" />';
            cell2.innerHTML = '<button type="button" onclick="deleteRow(this)">刪除</button>';
        }

        /**
          * 刪除 款式 選項
         */
        function deleteRow(btn) {
            var row = btn.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }
    </script>
}


