@model IEnumerable<DetailViewModel>

@{
    ViewData["Title"] = "Hi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-3">
        <p></p>
        @await Component.InvokeAsync("CategoriesList")
    </div>
    <div class="col-9">
        <img src="~/image/banner1.jpg" />
    </div>
</div>

<div>共 @Model.Count() 筆資料</div>
<div class="row ml-1">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100 shadow-sm rounded" style="width: 16rem">
                @if (item.Image != null)
                {
                    <img src=@Url.Action("Download", "Picture",
                 new { ProductId = item.ProductId, Guid = item.Image.Guid }) class="card-img-top">

                }
                <div class="card-body">
                    <h6 class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</h6>
                    <h6 class="card-title">NT$@Html.DisplayFor(modelItem => item.Price)</h6>
                </div>
                <a class="stretched-link" asp-action="Details" asp-route-id="@item.ProductId"></a>
                <div class="card-footer btn btn-light" style="position: relative;">
                    <div class="text-center">
                        @if (item.Stock > 1)
                        {
                            <a class="stretched-link text-dark" style="text-decoration: none;" onclick="ShowMessage()"
                               asp-controller="Cart" asp-action="AddtoCart" asp-route-Id="@item.ProductId">加入購物車</a>
                        }
                        else
                        {
                            <div class="text-muted">商品缺貨中</div>
                        }
                    </div>
                </div>
            </div>
        </div>

    }
</div>

<script>
    function ShowMessage() {
        toastr["success"]("商品已加入購物車！");
    }
</script>

<style>
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        flex-grow: 0;
        margin: 7px;
        padding: 5px;
    }

    .overflow-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
</style>
